html,
body,
#root,
.App
{
    min-width: 1260px;
    height: 100%;

    margin: 0;
    padding: 0;
}

body
{
    --color-slot-type-lightning: #d5dce0;
    --color-slot-type-type-c: #f43335;
    --color-slot-type-micro-usb: #000;
    --color-slot-type-none: #f5f5f5;

    font-family: 'Yandex Sans Text Web', sans-serif;
    -webkit-font-smoothing: antialiased;
}
