.suggest
{
    &-option
    {
        cursor: pointer;

        font-size: 14px;
        line-height: 20px;

        overflow-wrap: break-word;

        &_type
        {
            &_devices-search
            {
                padding: 2px 15px;

                color: #3f3f3f;
            }

            &_market-devices
            {
                padding: 7px 15px;
            }
        }

        &_active
        {
            background-color: #fcecb8;
        }
    }

    &-content
    {
        padding: 10px 0;

        &_type
        {
            &_devices-search
            {
                width: 242px;

                border: 1px solid #e1e6e8;
                border-radius: 2px;
            }

            &_market-devices
            {
                width: 366px;

                border: 2px solid #e5e5e5;
                border-radius: 4px;
            }
        }
    }

    &-input_type_devices-search
    {
        & .textinput
        {
            width: 242px;
        }

        & .textinput_theme_normal .textinput__box::before,
        & .textinput_theme_normal.textinput_focused .textinput__box::before
        {
            border: 1px solid #e1e6e8;
        }
    }
}
