.product-subscriptions
{
    &__card
    {
        display: grid;
        grid-template-columns: 38px 210px;
        grid-column-gap: 10px;

        margin-bottom: 14px;

        line-height: 18px;
    }

    &__card-info
    {
        font-size: 12px;

        color: #999;
    }

    &__card-login
    {

        margin-bottom: 1px;

        font-size: 14px;

        color: #000;

        & a
        {
            overflow-wrap: break-word;

            width: 100%;
        }
    }
}
