.filter
{
    margin-bottom: 50px;
    grid-area: filter;

    &__title
    {
        margin-bottom: 9px;

        font-size: 14px;
        line-height: 18px;
    }

    &__area
    {
        margin-top: 10px;
    }

    &__area_type_diagonal
    {
        display: flex;
        justify-content: space-between;
    }

    &__input
    {
        position: relative;
        flex-basis: 200px;

        & ~ &
        {
            margin-left: 20px;
        }

        &::after
        {
            position: absolute;
            top: 50%;
            left: 8px;

            width: 15px;
            margin-top: -6px;

            content: attr(data-mark);

            font-size: 12px;
        }

        & .y-input
        {
            box-sizing: border-box;
        }

        & .y-input__control
        {
            padding-left: 15px;
        }

        & .y-input_theme_normal .y-input__box::before
        {
            border-color: rgba(75, 75, 75, .15);
        }
    }

    & .y-checkbox
    {
        display: block;

        margin-top: 6px;
    }

    & .y-checkbox__text
    {

        text-align: right;

        font-weight: normal;

        opacity: .5;
    }

    & .y-checkbox_theme_normal .y-checkbox__view
    {
        border-width: 2px;
    }

    & .y-radio_theme_normal .y-radio__view
    {
        border-width: 2px;
    }

    & .y-checkbox_theme_normal.y-checkbox_checked .y-checkbox__view
    {
        border-width: 1px
    }

    & .y-radio__text
    {
        font-size: 14px;
        font-weight: normal;
        line-height: 20px;

        opacity: .5;
    }

    & .level-2
    {
        margin-left: 26px;
    }

    & .hidden ~ .level-2
    {
        display: none;
    }
}
