.user-info
{
    display: grid;
    grid-template-columns: 200px 1fr;
    grid-column-gap: 40px;

    &-name
    {
        letter-spacing: .27px;

        font: 27px 'Yandex Sans Text Web', sans-serif;
        font-weight: 600;
        line-height: 30px;
    }

    &-contacts
    {
        margin-top: 20px;
    }

    &-contact-row
    {
        display: grid;
        grid-template-columns: 100px 220px;
        grid-column-gap: 40px;

        margin-bottom: 10px;

        font-size: 14px;
        line-height: 20px;
    }

    &-key
    {
        color: #808080
    }
}
