.user-history
{
    &__door-card
    {
        display: grid;
        grid-template-columns: 50px 200px;
        grid-column-gap: 10px;

        margin-bottom: 20px;

        font-size: 12px;

        line-height: 18px;

        color: #999;
    }

    &__door-card-info
    {
        margin-top: 1px;
    }

    &__door-card-title
    {
        overflow: hidden;

        margin-bottom: 1px;

        white-space: nowrap;
        text-overflow: ellipsis;

        font-size: 14px;

        color: #000;
    }
}
