.slot
{
    width: 25px;

    &-cell
    {
        position: relative;

        height: 40px;

        cursor: pointer;
    }

    &-wire
    {
        position: absolute;
        right: 0;
        bottom: 0;
        left: 0;

        height: 3px;

        transition: opacity .1s linear;
    }

    &-cell-anchor
    {
        position: absolute;
        top: -6px;
        bottom: -6px;
        left: 10px;

        visibility: hidden;

        pointer-events: none;
    }

    &-device-screen,
    &-device-button
    {
        fill: #fff;
    }

    & .icon_type_question-blue
    {
        display: block;

        margin: auto;
    }

    &-inventory
    {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 3px;
        left: 0;

        display: flex;
        align-items: center;
        justify-content: center;

        transition: opacity .1s linear;
    }

    &-cell-name
    {
        margin: 5px 0 0;

        text-align: center;

        font-size: 14px;
        line-height: 20px;
    }

    &-selection-filler
    {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;

        pointer-events: none;

        opacity: 0;
        border-radius: 4px;
        background: #2e93fd;

        transition: opacity .15s linear;
    }

    &-cell:hover &-selection-filler
    {
        opacity: .3;
    }

    &_selected &-cell &-selection-filler
    {
        z-index: auto;

        opacity: 1;
    }

    &_selected &-wire,
    &_selected &-inventory
    {
        opacity: 0;
    }

    &_type_lightning &-wire
    {
        background-color: var(--color-slot-type-lightning);
    }

    &_type_type-c &-wire
    {
        background-color: var(--color-slot-type-type-c);
    }

    &_type_micro-usb &-wire
    {
        background-color: var(--color-slot-type-micro-usb);
    }

    &_type_lightning &-device
    {
        fill: var(--color-slot-type-lightning);
    }

    &_type_type-c &-device
    {
        fill: var(--color-slot-type-type-c);
    }

    &_type_micro-usb &-device
    {
        fill: var(--color-slot-type-micro-usb);
    }

    &_type_none &-device
    {
        fill: var(--color-slot-type-none);
    }

    &-history-popup
    {
        width: 250px;
        padding: 20px 28px 0;

        & .loading-list
        {
            max-height: 70vh;
        }
    }

    &-close
    {
        position: absolute;
        top: 12px;
        right: 12px;
    }
}
